<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Preview</title>
    <link rel="stylesheet" href="base/styles/style.css">
  </head>
  <body>
    <div class="sidebar">
      <img src="base/images/logo.png" class="logo">
      <ul>
        <li><a href="300x250/" class="done">300x250</a></li>
      </ul>
    </div>
    <div id="close">❮❮</div>
    <div class="iframe">
      <iframe src="300x250/"></iframe>
      <div class="loading"></div>
    </div>
    <div class="desktop">
      <h1>Optimised for desktop!</h1>
      <img src="base/images/desktop.png" alt="desktop">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="base/js/main.js"></script>
  </body>
</html>
