$preloader-size: 40px;
$preloader-width: 5px;

.preloader {
  background: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999;

  .circle {
    animation: spin 0.5s linear infinite;
    border: $preloader-width solid #ddd;
    border-bottom-color: #333;
    border-radius: 50%;
    height: $preloader-size;
    left: 50%;
    margin-left: -($preloader-size + $preloader-width) / 2;
    margin-top: -($preloader-size + $preloader-width) / 2;
    position: absolute;
    top: 50%;
    transition: all 0.7s ease-in-out;
    width: $preloader-size;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
